<div class="page-header">
  <h1>Add a New Video</h1>
</div>

<div class="row">
  <div class="col-md-5">

    <%= form_tag "/videos", "method" => "post"  %>

      <div class="form-group">
        <%= label_tag "title", "What is the title of your swing video?" %>
        <%= text_field_tag "title", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "Link to swing image (right click on the image of your youtube video, select 'copy image url', then paste the url below):" %>
        <%= text_field_tag "picture", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "Link to swing video (in your youtube video click 'share' below the video, next click 'embed' in the line below.  Under Embed, you will see a line of code.  Copy only the text within the quotation marks to the right of src= (for example, //www.youtube.com/embed/8dyKCeCzpFA?rel=0). Then paste below):" %>
        <%= text_field_tag "url", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "What issues are you having with your golf shots?" %>
        <%= text_field_tag "issues", "", "class" => "form-control" %>
      </div>

      <%= submit_tag "Add This Swing Video", "class" => "btn btn-lg btn-success" %> or <%= link_to "Cancel", "/videos" %>

    </form>
</div>
</div>
