<div class="page-header">
  <h1>Add a New Video</h1>
</div>

<div class="row">
  <div class="col-md-5">

    <%= form_tag "/videos", "method" => "post"  %>

      <div class="form-group">
        <%= label_tag "title", "What is the title of your swing video?" %>
        <%= text_field_tag "title", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "Link to swing image:" %>
        <%= text_field_tag "picture", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "Link to swing video:" %>
        <%= text_field_tag "url", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "What issues are you having with your golf shots?" %>
        <%= text_field_tag "issues", "", "class" => "form-control" %>
      </div>

      <%= submit_tag "Add This Swing Video", "class" => "btn btn-lg btn-success" %> or <%= link_to "Cancel", "/videos" %>

    </form>
</div>
</div>
