<% video_id = params["id"] %>
<% video = Video.read(video_id) %>

 <p><b>Submitted on:</b> <%= video["created_at"].strftime("%m/%d/%Y") %></p>

  <% user = User.find_by("id" => video["user_id"]) %>
  <% if user.present? %>
  <p><b>Submitted by:</b> <%= user["name"] %></p>
  <p><b>Swing Issues:</b> <%= video["swing_issues"] %></p>
 <% end %>

<div class="row">

  <div class="col-md-8">
    <h1><%= video["title"] %>

    </h1>

<iframe width="640" height="360" src= <%= video["video_url"] %> frameborder="0" allowfullscreen></iframe>

<h2>Swing Tips</h2>

    <% if Tip.where("video_id" => video["id"]).count == 0 %>
      <p>Be the first to add a swing tip!</p>
    <% end %>

    <%= form_tag "/tips" do %>

      <%= hidden_field_tag "video_id", video["id"] %>

      <div class="form-group">
        <%= text_area_tag :content, "", "class" => "form-control", "placeholder" => "Provide a swing tip for this golfer!", "rows" => 4 %>
      </div>

      <%= submit_tag "Add Swing Tip!", "class" => "btn btn-md btn-primary" %>
    <% end %>

    <p><% Tip.where("video_id" => video["id"]).each do |tip| %>
      <% the_user = User.find_by("id" => tip["user_id"]) %>
      <div class="tip row">
        <div class="col-md-3">
        <hr>
          <% if the_user.present? %>
            <p><b>Tip from: </b><%= the_user["name"] %></p>
              <p><b>Date: </b><%= tip["created_at"].strftime("%m/%d/%Y") %></p>
              <p><b>Avg. tip rating:

              <% tipavg = Rating.where("tip_id" => tip["id"]).average(:rating).to_i %>
                <% tipavg.times do %>
                  &star;
                <% end %></b></p>
      <% end %>
      </div>

        <div class="col-md-9">
          <p class="lead"><i>"<%= tip.content %>"</i></p>
        </div>
      </div>

      <%= form_tag "/ratings" do %>

        <%= hidden_field_tag "tip_id", tip["id"] %>

        <div class="form-group">
          <%= label_tag :rating %>
          <%= select_tag :rating, options_for_select(['5 stars','4 stars','3 stars','2 stars','1 star']) %>
          <%= submit_tag "Rate this tip!", "class" => "btn btn-md btn-primary" %>
      <% end %>

    <% end %>
